h1,
p {
  color: white;
}
.about {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(8, 1fr);
  background-color: black;
}
.margin {
  grid-column: span 3;
}
.mission {
  margin: 20% 10% 20% 10%;
  text-align: left;
  background: transparent;
  grid-column: span 6;
  z-index: 1;
}
.bio-container {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  margin: 0 10% 0 10%;
  text-align: left;
  background: transparent;
  grid-column: span 6;
  z-index: 1;
}
.bio {
  flex-direction: column;
  background: transparent;
  z-index: 4;
  margin-top: -8%;
}
.layer-1 {
  top: 60%;
  left: 25%;
  opacity: 0.8;
  position: absolute;
  fill: rgb(206, 78, 55);
  width: 20%;
  transform: scaleY(-1) scaleX(-1);
  height: auto;
  z-index: -1;
}
/* svg {
  z-index: -2;
} */
.layer-2 {
  position: absolute;
  left: 190px;
  top: 25%;
  fill: rgb(255, 166, 0);
  transform: scaleX(1) scaleY(0.5);
  width: 70%;
  z-index: -2;
  transition: 1s;
}
.avatar {
  width: 30%;
  height: auto;
  border-radius: 180px;
  margin-right: 5%;
}
.profile {
  margin: 0%;
}
.profile-top {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}
.title {
  margin-top: 10%;
  /* position: absolute;
  right: 42%;
  top: 70% */
}
@media only screen and (max-width: 1260px) {
  .layer-2 {
    transform: scaleX(1) scaleY(0.8);
  }
}
@media only screen and (max-width: 1150px) {
  .layer-2 {
    transform: scaleX(1.2) scaleY(0.8);
  }
}
@media only screen and (max-width: 980px) {
  .layer-2 {
    left:120px;
    top:35%
  }
}
@media only screen and (max-width: 760px) {
  .layer-2 {
    transform: scaleX(1.3) scaleY(1);
    top:50%
  }
  
  }
  @media only screen and (max-width: 640px) {
    .layer-2 {
      transform: scaleX(1.7) scaleY(1.5);
      left: 20px;
      top:60%
    }
    .mission,.bio-container {
    grid-column: span 12
  }
  .margin {
    display: none
  }
    }
    @media only screen and (max-width: 380px) {
      .layer-2 {
        transform: scaleX(1.6) scaleY(2);
        top: 70%
      }
      }
      @media only screen and (max-width: 340px) {
        .profile-top {
          flex-direction: column
        }
        .bio {
          margin-top: 5%
        }
        .layer-2 {
          top:90%
        }
        }