.home {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(20, 1fr);
  background-color: orange;
}
.curve {
  position: absolute;
  bottom: 0;
  left:0;
  opacity:0.7;
  fill: rgb(206, 78, 55);
  width: 100%;
  margin: 0%;
  padding: 0%;
  transition: 2s
  }
  .curve-1 {
    position: absolute;
    top: 0;
    left:0;
    opacity:0.7;
    fill: rgb(206, 78, 55);
    transform: scaleY(-1);
    width: 100%;
    margin: 0%;
    padding: 0%;
    transition: 2s
    }
  .curve-scroll {
    position: absolute;
  bottom: 0;
  left:0;
  opacity:0.7;
  fill: rgb(206, 78, 55);
  transform: scaleY(1.2);
  width: 100%;
  margin: 0%;
  padding: 0%;
  transition: 2s
  }
  .curve-scroll-1 {
    position: absolute;
  top: 0;
  left:0;
  opacity:0.7;
  fill: rgb(206, 78, 55);
  transform: scaleY(-1.2) scaleX(-1);
  width: 100%;
  margin: 0%;
  padding: 0%;
  transition: 2s
  }
  .curve-overlay {
    position: absolute;
    bottom: 0;
    left:0;
    fill:orange;
    width: 100%;
    margin: 0%;
    padding: 0%;
    transform: scaleY(1.2);
    z-index: 1;
    transition: 1s
  }
  .curve-overlay-1 {
    position: absolute;
    top: 0;
    left:0;
    fill:orange;
    width: 100%;
    margin: 0%;
    padding: 0%;
    transform: scaleY(-1.2) scaleX(-1);
    z-index: 1;
    transition: 1s
  }
  .curve-overlay-scroll {
    position: absolute;
    bottom: 0;
    left:0;
    fill:orange;
    width: 100%;
    margin: 0%;
    padding: 0%;
    transform: scaleY(1.5);
    z-index: 1;
    transition: 1s
  }
  .curve-overlay-scroll-1 {
    position: absolute;
    top: 0;
    left:0;
    fill:orange;
    width: 100%;
    margin: 0%;
    padding: 0%;
    transform: scaleY(-1.5) scaleX(-1);
    z-index: 1;
    transition: 1s
  }
.card {
  position: relative;
  height: auto;
  width: 100%;
  margin: 0;
  background: orange;
  /* box-shadow: 2px 2px 6px 2px black; */
  grid-column: span 4;
  transition: 2s
}
.card-1 {
  
  grid-column: span 12;
  grid-row: span 8;
  background: url("https://i.imgur.com/fuVByqS.jpg") top no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5
}
.text-box {
  position: absolute;
  top: 80px;
  left: 30px;
  width: 30%;
  margin: 5%;
  text-align: left;
  color: white;
  z-index: 3;
  transition: 2s
}
.welcome-button {
  padding: 4%;
  border-radius: 25px;
  border: solid 2px orange;
  background: transparent;
  color: white;
  font-size: medium;
  z-index: 4;
  transition: 1s
}
.welcome-button:hover {
  cursor: pointer;
  font-style: italic;
  color: rgb(223, 223, 223);
  border: solid 2px rgb(206, 78, 55)
}
.card-2 {
  grid-column: span 12;
  grid-row: span 3;
  background-size: contain
}
.card-2-scroll {
  grid-column: span 12;
  grid-row: span 3;
  padding-top: 3%;
  background-size: contain;
  transition: 1s;
  /* animation-name: example;
  animation-duration: 2s;
  animation-timing-function: ease-in; */
}
/* @keyframes example {
  0%   {left:-200px;}

  100%  {left:0px;}
} */
.card-3 {
  /* grid-row: span 5; */
  background-size: cover
}
.card-12 {
  background: url("https://i.imgur.com/xA0Z3SO.jpg") no-repeat;
  background-size: cover;
  background-attachment: fixed;
  grid-column: span 12;
  grid-row: span 6;
}
@media only screen and (min-width: 1500px) {
.card-12 {
  padding-bottom: 5%
}
}
@media only screen and (max-width: 576px) {
  .home {
    display: flex;
    flex-direction: column
  }
  .curve-overlay {
    width: 100%;
    transform: scaleY(1.1)
  }
  .card {
    grid-row: span 1
  }
  .card-1 {
    height: 85vh;
    background-attachment: fixed;
  }
  .text-box {
    width: 80%;
    margin: 5%;
  }
  /* a-canvas, a-grab-cursor {
  position: absolute;
  bottom: 0%;
  height: 10vh;
  z-index: 1;
  } */
  #scene , canvas {
    width: 100%;
    height: 200px;
    z-index: 0;
  }
}