.home {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: repeat(12, 1fr);
  grid-gap: 20px;
  background-color: orange;
}
.curve {
  position: absolute;
  bottom: 0;
  left:0;
  opacity:0.7;
  fill: rgb(206, 78, 55);
  width: 100%;
  margin: 0%;
  padding: 0%;
  transition: 2s
  }
  .curve-1 {
    position: absolute;
    top: 0;
    left:0;
    opacity:0.7;
    fill: rgb(206, 78, 55);
    transform: scaleY(-1);
    width: 100%;
    margin: 0%;
    padding: 0%;
    transition: 2s
    }
  .curve-scroll {
    position: absolute;
  bottom: 0;
  left:0;
  opacity:0.7;
  fill: rgb(206, 78, 55);
  transform: scaleY(1.2);
  width: 100%;
  margin: 0%;
  padding: 0%;
  transition: 2s
  }
  .curve-scroll-1 {
    position: absolute;
  top: 0;
  left:0;
  opacity:0.7;
  fill: rgb(206, 78, 55);
  transform: scaleY(-1.2) scaleX(-1);
  width: 100%;
  margin: 0%;
  padding: 0%;
  transition: 2s
  }
  .curve-overlay {
    position: absolute;
    bottom: 0;
    left:0;
    fill:orange;
    width: 100%;
    margin: 0%;
    padding: 0%;
    transform: scaleY(1.2);
    z-index: 1;
    transition: 1s
  }
  .curve-overlay-1 {
    position: absolute;
    top: 0;
    left:0;
    fill:orange;
    width: 100%;
    margin: 0%;
    padding: 0%;
    transform: scaleY(-1.2) scaleX(-1);
    z-index: 1;
    transition: 1s
  }
  .curve-overlay-scroll {
    position: absolute;
    bottom: 0;
    left:0;
    fill:orange;
    width: 100%;
    margin: 0%;
    padding: 0%;
    transform: scaleY(1.5);
    z-index: 1;
    transition: 1s
  }
  .curve-overlay-scroll-1 {
    position: absolute;
    top: 0;
    left:0;
    fill:orange;
    width: 100%;
    margin: 0%;
    padding: 0%;
    transform: scaleY(-1.5) scaleX(-1);
    z-index: 1;
    transition: 1s
  }
  .margin-1 {
    grid-column: span 1
  }
  .margin-2 {
    grid-column: span 2
  }
  .margin-3 {
    grid-column: span 3
  }
.card {
  position: relative;
  height: auto;
  width: 100%;
  margin: 0;
  background: orange;
  /* box-shadow: 2px 2px 6px 2px black; */
  grid-column: span 4;
  transition: 2s
}
.card-1 {
  
  grid-column: span 12;
  grid-row: span 2;
  background: url("https://i.imgur.com/fuVByqS.jpg") top no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.overlay {
  width: 100%;
  height: 100%;
  background-color: black;
  opacity: 0.5
}
.text-box {
  position: absolute;
  top: 80px;
  left: 30px;
  width: 30%;
  margin: 5%;
  text-align: left;
  color: white;
  z-index: 3;
  transition: 2s
}
.welcome-button {
  padding: 4%;
  border-radius: 25px;
  border: solid 2px orange;
  background: transparent;
  color: white;
  font-size: medium;
  z-index: 4;
  transition: 1s
}
.welcome-button:hover {
  cursor: pointer;
  font-style: italic;
  color: rgb(223, 223, 223);
  border: solid 2px rgb(206, 78, 55)
}

.card-3-scroll {
  padding-top: 10%;
  transition: 1s;
  animation-name: example;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}
@keyframes example {
  0%   {left:-200px;}

  100%  {left:0px;}
}
.card-3,.card-5,.card-6,.card-7,.card-8 {
  /* grid-row: span 5; */
  visibility: hidden;
  grid-row: span 1
}
.card-5 {
  grid-column: span 6;
  padding-top: 10%
}
.card-5-scroll {
  padding: 10% 5% 5% 5%;
  grid-column: span 6;
  transition: 1s;
  animation-name: example;
  animation-duration: 2s;
  animation-timing-function: ease-in;
text-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}
@keyframes example {
  0%   {left:-200px;}

  100%  {left:0px;}
}
.card-6-scroll {
  transition: 1s;
  animation-name: rise;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}
@keyframes rise {
  0%   {bottom:-200px;}

  100%  {bottom:0px;}
}
.card-7-scroll {
  transition: 1s;
  animation-name: rise;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}
@keyframes rise {
  0%   {bottom:-200px;}

  100%  {bottom:0px;}
}
.card-8-scroll {
  transition: 1s;
  animation-name: rise;
  animation-duration: 2s;
  animation-timing-function: ease-in;
}
@keyframes rise {
  0%   {bottom:-200px;}

  100%  {bottom:0px;}
}
.service-card {
  height: 300px;
  width: auto;
  border-radius: 25px;
  transition: 1s;
  box-shadow: 0 10px 10px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.service-card:hover {
  opacity: 0.6;
  cursor: pointer;
}
@media only screen and (min-width: 1500px) {
.card-12 {
  padding-bottom: 5%
}
}
@media only screen and (max-width: 576px) {
  h1 {
    font-size: 30px
  }
  .home {
    display: flex;
    flex-direction: column
  }
  .curve-overlay {
    width: 100%;
    transform: scaleY(1.1)
  }
  .card {
    grid-row: span 1
  }
  .card-1 {
    height: 85vh;
    background-attachment: fixed;
  }
  .text-box {
    width: 80%;
    margin: 5%;
  }
  .service-card {
    height: 300px;
    width: 80%;
    margin: 3%
  }
  /* a-canvas, a-grab-cursor {
  position: absolute;
  bottom: 0%;
  height: 10vh;
  z-index: 1;
  } */
  #scene , canvas {
    width: 100%;
    height: 200px;
    z-index: 0;
  }
}